<!DOCTYPE html >
<html layout:decorator="shared/mainlayout"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block layout:fragment="header">
		<link rel="stylesheet" type="text/css" th:href="@{/content/css/studentedit.css}" />
	</th:block>
	
	<th:block layout:fragment="content">
	
		<form class="form-horizontal" action="/course" method="POST" th:object="${course}">
			<fieldset>
		    	<legend th:text="${course.id == null ? 'New Course' : 'Update Course'}"></legend>
		      	<input type="hidden" name="id" th:value="${course.id}" />
	            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> 
	             
	            <div class="form-row">
		              <div class="col-md-6">
         				<div class="form-group row">
				            <label class=" col-sm-3 col-form-label">Course name:</label>
						    <div class="col-sm-8">
						    	<input class=" col-sm-12 form-control" id="txtName" type="text"  th:field="*{name}" />
			            		<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
						    </div>
			       		</div>
			       	  </div>
		              <div class="col-md-6">
         					<div class="form-group row">
							    <label class="col-sm-3 col-form-label">Course code:</label>
						    	<div class="col-sm-8">
							    	<input class=" col-sm-12 form-control" id="txtCode" type="text"  th:field="*{code}" />
				            		<label th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="validation-message"></label>
								  </div>
			       	  		</div>
					
	    				</div>
    				</div>
    				
         			<div class="form-row">
						 <div class="col-sm-6">
		              
       					<div class="form-group row">
						    <label class="col-sm-3 col-form-label">Description:</label>
					    	<div class="col-sm-8">
						    	<input class=" col-sm-12 form-control" id="txtDescription" type="text"  th:field="*{description}" />
			            		<label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="validation-message"></label>
							  </div>
		       	  		</div>
		       	  		</div>

		          	</div>
			          	
			  
	    
				  <div class="form-row">
    				<div class="offset-sm-8 col-sm-3">
			         	<button type="submit" class="btn btn-primary">Save</button>
			         	&nbsp;
			         	<a class="btn btn-primary" href="/courses/" >Back to List</a>
		         	</div>
		         </div>
		    </fieldset>
		</form>
	</th:block>
	
	<th:block layout:fragment="footer">
	</th:block>
	
</body>
</html>