<!DOCTYPE html>
<html layout:decorator="shared/mainlayout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Info</title>
</head>
<body>
	<th:block layout:fragment="content">
	
		<form th:action="@{/user}" th:object="${user}" method="post">
			<input type="hidden" th:field="*{id}"/>
			<fieldset>
		         <legend th:text="${user.id == null ? 'New Admin' : 'Update Admin'}"></legend>
	
			            <div class="form-row">
			              <div class="col-md-6">
	         				<div class="form-group row">
					            <label class=" col-sm-3 col-form-label">Email address:</label>
							    <div class="col-sm-8">
							    	<input class=" col-sm-12 form-control" id="txtEmail" type="email" aria-describedby="emailHelp" placeholder="Enter email"  th:field="*{username}" />
				            		<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-message"></label>
							    </div>
				       		</div>
				       	  </div>
		    			</div>
			          
	         			<div class="form-row">
			              <div class="col-md-6">
			              	<div class="form-group row">
				                <label class="col-sm-3 col-form-label" for="txtFirstName">First name:</label>
							    <div class="col-sm-8">
				                	<input class="form-control" id="txtFirstName" type="text" name="firstName" aria-describedby="nameHelp" placeholder="Enter first name" th:field="*{firstName}" />
				                	<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message"></label>
				                </div>				                
			              	</div>
			              </div>
			              <div class="col-md-6">
			              	<div class="form-group row">
				                <label class="col-sm-3 col-form-label" for="txtLastName">Last name:</label>
							    <div class="col-sm-8">
				                	<input class="form-control" id="txtLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name" th:field="*{lastName}"  />
				                	<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message"></label>
				                </div>				                
			              	</div>
			              </div>
			          	</div>
			          
			          
			          <div class="form-row">
			              <div class="col-md-6">
				          <div class="form-group row">
				                <label class="col-sm-3 col-form-label" for="txtPassword">Password:</label>
							    <div class="col-sm-8">
					                <input class="form-control" id="txtPassword" type="password"  placeholder="Password" th:field="*{password}" />
					            	<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
			              		</div>
			              	</div>
			              </div>
			              <div class="col-md-6">
					          <div class="form-group row">
					                <label class="col-sm-3 col-form-label" for="txtConfirmPassword">Confirm password:</label>
								    <div class="col-sm-8">
						                <input class="form-control" id="txtConfirmPassword" type="password" placeholder="Confirm password"  th:field="*{passwordConfirm}" />
						            	<label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}" class="validation-message"></label>
				              		</div>
				              </div>
			              </div>
			          </div>
				  <div class="form-row">
    				<div class="offset-sm-10 col-sm-2 ">
						<div class="form-group row">
			         	<button type="submit" class="btn btn-primary  pull-right">Save</button>
			         	&nbsp;
			         	<a class="btn btn-primary " href="/users/" >Back to List</a>
			         	</div>
		         	</div>
		         </div>
		    </fieldset>
		</form>
	</th:block>
	<th:block layout:fragment="footer">
		<script>
			$(document).ready(function() {
				$(".fpp").change(function(){
					$("#fpp").val(parseInt($("#fppCPT").val()) + parseInt($("#fppOPT").val()));
				});
				
				$(".mpp").change(function(){
					$("#mpp").val(parseInt($("#mppCPT").val()) + parseInt($("#mppOPT").val()));
				});
			});
		</script>
	</th:block>
</body>
</html>