<!DOCTYPE html>
<html layout:decorator="shared/mainlayout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Entry</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col"><h2>Admins</h2></div>
			<div class="col text-right">
				<div class="button-margin">
			<a role="button" class="btn btn-primary"
				th:href="@{/user}"><span class="fa fa-plus" aria-hidden="true"></span>&nbsp;Create an Admin</a>
				</div>
			</div>
		</div>
		<div class="mb-1" >&nbsp;</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">Full name</th>
					<th class="text-center">Email</th>
					<th class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${#lists.size(users) == 0}">
					<td colspan="9">No Admins</td>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="@{${user.firstName} + ' ' + ${user.lastName}}" class="text-center"></td>
					<td th:text="${user.username}" class="text-center"></td>
					<td class="text-center">
						<a role="button" class="btn btn-primary"
							th:href="${user.username == username ? '/adminprofile' : '/user/' + user.id }"
							><span class="fa fa-pencil" aria-hidden="true"></span></a>
						&nbsp;
						<a th:if="${user.username != username }" role="button" class="btn btn-primary"
							th:href="@{/user/delete/{id}(id=${user.id})}">
							<span class="fa fa-trash-o" aria-hidden="true"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<th:block layout:fragment="footer">
		</script>
	</th:block>
</body>
</html>