<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">MUMSched</title>
  <!-- Bootstrap core CSS-->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Custom fonts for this template-->
  <link href="/public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Custom styles for this template-->
  <link href="/public/css/login.css" rel="stylesheet" />
  <th:block layout:fragment="header"></th:block>	
</head>

<body class="bg-dark">
  <div class="container">

  	<div class="divleft">
		<select id="locales">
		    <option value="en" th:text="#{lang.en}" th:selected="__${#locale}__ == 'en'"></option>
		    <option value="mn" th:text="#{lang.mn}" th:selected="__${#locale}__ == 'mn'"></option>
		    <option value="vi" th:text="#{lang.vi}" th:selected="__${#locale}__ == 'vi'"></option>
		</select>
	</div>
	<th:block layout:fragment="content"></th:block>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>
  
	<th:block layout:fragment="footer"></th:block>	
	
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.replace('?lang=' + selectedOption);
	        }
	    });
	});
	</script>
</body>

</html>